body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;

  

}

#nyawira {
  text-align: center;
}
.tabbie {
text-align: center;
padding-left: 10px;
padding-right: 10px;


}

#figcaption {
  font-size: smaller;
  
}
.floats {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}
#colours{
  background-color: grey;
}
